@model IEnumerable<Garment_Factory.Models.Warehouse>

@{
    ViewBag.Title = "Warehouses";
}

<h2>Warehouses</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CreateDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdateDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Warehouse_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Warehouse_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Warehouse_ID })
        </td>
    </tr>
}

</table>
