@{
    ViewBag.Title = "Home";
}

<div class="row">
    <div class="col-md-4">
        <h2>Products</h2>
        <a href="@Url.Action("Index", "Products") "><img src="~/Icons/products.png" alt="Garment Factory Products" width="180" height="180"></a>
    </div>
    <div class="col-md-4">
        <h2>Clients</h2>
        <a href="@Url.Action("Index", "Clients")">
            <img src="~/Icons/clients.png" alt="Garment Factory Clients" width="180" height="180">
        </a>
    </div>
    <div class="col-md-4">
        <h2>Orders</h2>
        <a href="@Url.Action("Index", "Orders")">
            <img src="~/Icons/orders.png" alt="Garment Factory Orders" width="180" height="180">
        </a>
    </div>
    <div class="col-md-4">
        <h2>Employees</h2>
        <a href="@Url.Action("Index", "Employees")">
            <img src="~/Icons/employees.png" alt="Garment Factory Employees" width="180" height="180">
        </a>
    </div>
    <div class="col-md-4">
        <h2>Suppliers</h2>
        <a href="@Url.Action("Index", "Suppliers")">
            <img src="~/Icons/suppliers.png" alt="Garment Factory Suppliers" width="180" height="180">
        </a>
    </div>
    <div class="col-md-4">
        <h2>Textile</h2>
        <a href="@Url.Action("Index", "Textile")">
            <img src="~/Icons/textile.png" alt="Garment Factory Textile" width="180" height="180">
        </a>
    </div>
    <div class="col-md-4">
        <h2>Furniture</h2>
        <a href="@Url.Action("Index", "Furniture")">
            <img src="~/Icons/furniture.png" alt="Garment Factory Furniture" width="180" height="180">
        </a>
    </div>
    <div class="col-md-4">
        <h2>Equipment</h2>
        <a href="@Url.Action("Index", "Equipment")">
        <img src="~/Icons/equipment.png" alt="Garment Factory Equipment" width="180" height="180">
        </a>
    </div>
    <div class="col-md-4">
        <h2>Delivery</h2>
        <a href="@Url.Action("Index", "DeliveryInfo")">
        <img src="~/Icons/delivery.png" alt="Garment Factory Delivery" width="180" height="180">
        </a>
    </div>
</div>
