@model Garment_Factory.Models.DeliveryInfo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DeliveryInfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Order_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DispatchDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DispatchDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArrivalDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArrivalDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrackingNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrackingNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeliveryPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeliveryPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Received)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Received)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DeliveryInfo_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
