@model IEnumerable<Garment_Factory.Models.Furniture>

@{
    ViewBag.Title = "Furniture";
}

<h2>Furniture</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Warehouse.Address)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Warehouse.Address)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Furniture_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Furniture_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Furniture_ID })
        </td>
    </tr>
}

</table>
